.calc {
    max-width: 200px;
    height: 270px;

    /* border: solid; */
    border-radius: 20px;
    box-shadow:  0 0 10px black;

    padding: 15px;

    &>* {
        /* border: solid yellow; */
    }
}

.content-button {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;

    margin-top: 20px;
}


