:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  

  color-scheme: dark;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, input {
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}




.entorno {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}